.home {

    .top {
        width: 100vw;
        // min-height: 100vh;
        padding: 22vh 0 32px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .inner {

            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;

            header {
                width: 90%;
                max-width: 560px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 12px;
    
                img {
                    width: 90px;
                    height: 90px;
                    border-radius: 12px;
    
                }
    
                .info {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
    
                    h1 {
                        font-size: 28px;
                        font-weight: 600;
                    }
    
                    b {
                        font-weight: 300;
                        font-size: 14px;

                    }
    
                }
            }
    
            .about {
                width: 90%;
                max-width: 560px;
                font-size: 14px;
                line-height: 1.7;
                text-align: justify;
                
            }


        }

        
    }


    .projects, .experiences, .contacts, footer {
        width: 100vw;
        padding: 32px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        h2 {
            width: 90%;
            max-width: 560px;
            font-size: 26px;
            font-weight: 500;
        }

        .inner {
            width: 90%;
            max-width: 560px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
        }
        
    }


    footer {
        padding: 48px 0 11vh 0;
        font-size: 12px;

    }
}

@media (min-width: 768px) {

    .home {

        .top {
    
            .inner {
    
    
                header {
                    
                    align-items: flex-start;

                    img {
                        width: 130px;
                        height: 130px;
        
                    }
        
                    .info {
                        
        
                        h1 {
                            font-size: 32px;
                        }
        
                        b {
                            font-size: 16px;
                        }
        
                    }
                }
        
                .about {
                    
                }
    
    
            }
    
            
        }
    
    
        .projects, .experiences, .contacts, footer {

    
            h2 {

            }
    
            .inner {

            }
            
        }
    
    
        footer {

    
        }
    }

}