.project {
    width: 100%;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .status {
        font-size: 12px;
        padding-top: 6px;
        display: flex;
        flex-direction: column;
        gap: 8px;

    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 12px;

        img {
            width: 70px;
            height: 70px;
            border-radius: 12px;
        }

        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;
            width: fit-content;

        }

        h4 {
            font-size: 18px;
            font-weight: 500;

            
        }

        .description {
            font-size: 14px;
        }

        .tags {
            display: flex;
            flex-direction: row;
            gap: 8px;
            flex-wrap: wrap;

            span {
                padding: 4px 8px;
                font-size: 12px;
                background-color: #fff;
                color: #14534b;
                border-radius: 12px;
                letter-spacing: 1px;
            }
        }
    }
}

@media (min-width: 768px) {

    .project {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    
        .status {
            flex: 1;
        }
    
        .info {
            flex: 3;
        }
    }

}